streamlit
yfinance
pandas
numpy
matplotlib
plotly
feedparser
textblob
scikit-learn
pandas_ta
statsmodels
tensorflow
transformers
torch
streamlit-plotly-events
seaborn
scipy
feedparser
streamlit-drawable-canvas
pillow
